## Python : Print Tables

## PrettyTable

PrettyTable is a Python library for generating simple ASCII tables. It was inspired by the ASCII tables used in the PostgreSQL shell psql. We can control many aspects of a table, such as the width of the column padding, the alignment of text, or the table border. We can sort data.

We can also choose which columns and rows are going to be displayed in the final output. PrettyTable can read data from CSV, HTML, or database cursor and output data in ASCII or HTML

### PrettyTable installation

$ sudo pip3 install PTable

In [6]:
from prettytable import PrettyTable
    
x = PrettyTable()

x.field_names = ["City ", "Area", "Population", "Annual Rainfall"]

x.add_row(["Clemson", 1295, 1158259, 600.5])
x.add_row(["Greenville", 5905, 1857594, 1146.4])
x.add_row(["Seneca", 112, 120900, 1714.7])
x.add_row(["Nashville", 1357, 205556, 619.5])
x.add_row(["Sydney", 2058, 4336374, 1214.8])
x.add_row(["Melbourne", 1566, 3806092, 646.9])
x.add_row(["Perth", 5386, 1554769, 869.4])

print(x)

+------------+------+------------+-----------------+
|   City     | Area | Population | Annual Rainfall |
+------------+------+------------+-----------------+
|  Clemson   | 1295 |  1158259   |      600.5      |
| Greenville | 5905 |  1857594   |      1146.4     |
|   Seneca   | 112  |   120900   |      1714.7     |
| Nashville  | 1357 |   205556   |      619.5      |
|   Sydney   | 2058 |  4336374   |      1214.8     |
| Melbourne  | 1566 |  3806092   |      646.9      |
|   Perth    | 5386 |  1554769   |      869.4      |
+------------+------+------------+-----------------+

In [7]:
x.field_names = ["City ", "Area", "Population", "Annual Rainfall"]

In [8]:
x.add_row(["Adelaide", 1295, 1158259, 600.5])
x.add_row(["Brisbane", 5905, 1857594, 1146.4])

In [9]:
print(x)

+------------+------+------------+-----------------+
|   City     | Area | Population | Annual Rainfall |
+------------+------+------------+-----------------+
|  Clemson   | 1295 |  1158259   |      600.5      |
| Greenville | 5905 |  1857594   |      1146.4     |
|   Seneca   | 112  |   120900   |      1714.7     |
| Nashville  | 1357 |   205556   |      619.5      |
|   Sydney   | 2058 |  4336374   |      1214.8     |
| Melbourne  | 1566 |  3806092   |      646.9      |
|   Perth    | 5386 |  1554769   |      869.4      |
|  Adelaide  | 1295 |  1158259   |      600.5      |
|  Brisbane  | 5905 |  1857594   |      1146.4     |
+------------+------+------------+-----------------+

In [10]:
print(x.get_html_string())

<table>
    <tr>
        <th>City </th>
        <th>Area</th>
        <th>Population</th>
        <th>Annual Rainfall</th>
    </tr>
    <tr>
        <td>Clemson</td>
        <td>1295</td>
        <td>1158259</td>
        <td>600.5</td>
    </tr>
    <tr>
        <td>Greenville</td>
        <td>5905</td>
        <td>1857594</td>
        <td>1146.4</td>
    </tr>
    <tr>
        <td>Seneca</td>
        <td>112</td>
        <td>120900</td>
        <td>1714.7</td>
    </tr>
    <tr>
        <td>Nashville</td>
        <td>1357</td>
        <td>205556</td>
        <td>619.5</td>
    </tr>
    <tr>
        <td>Sydney</td>
        <td>2058</td>
        <td>4336374</td>
        <td>1214.8</td>
    </tr>
    <tr>
        <td>Melbourne</td>
        <td>1566</td>
        <td>3806092</td>
        <td>646.9</td>
    </tr>
    <tr>
        <td>Perth</td>
        <td>5386</td>
        <td>1554769</td>
        <td>869.4</td>
    </tr>
    <tr>
        <td>Adelaide</td>
        <td>1295</td>
        <td>1158259</td>
        <td>600.5</td>
    </tr>
    <tr>
        <td>Brisbane</td>
        <td>5905</td>
        <td>1857594</td>
        <td>1146.4</td>
    </tr>
</table>

## Tabulate

In [11]:
from tabulate import tabulate

l = [["Moo", 21, "USC"], ["Foo", 22, "CU"], ["M", 23, "UFL"]]
table = tabulate(l, headers=['Name', 'Age', 'University'], tablefmt='orgtbl')

print(table)

| Name   |   Age | University   |
|--------+-------+--------------|
| Moo    |    21 | USC          |
| Foo    |    22 | CU           |
| M      |    23 | UFL          |

## Texttable

In [12]:
from texttable import Texttable

# texttable takes the first reocrd in the list as the column names
# of the table
l = [["Name", "Age", "University"], ["Hassan", 21, "LUMS"], ["Ali", 22, "FAST"], ["Ahmed", 23, "UET"]]

table = Texttable()
table.add_rows(l)
print(table.draw())

+--------+-----+------------+
|  Name  | Age | University |
+========+=====+============+
| Hassan | 21  | LUMS       |
+--------+-----+------------+
| Ali    | 22  | FAST       |
+--------+-----+------------+
| Ahmed  | 23  | UET        |
+--------+-----+------------+